/Unistream.TestTask.Server/obj/
/Unistream.TestTask.Server/bin/
/Unistream.TestTask.BLL/obj/
/Unistream.TestTask.BLL/bin/
/Unistream.TestTask.DAL.Tests/obj
/Unistream.TestTask.DAL.Tests/bin
/Unistream.TestTask.DAL/obj
/Unistream.TestTask.DAL/bin
/Unistream.TestTask.Common/obj
/Unistream.TestTask.Common/bin